<footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">@Config.CompanyName</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        @Config.CompanyAdress
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:@Config.CompanyPhoneShort">@Config.CompanyPhone</a>
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:@Config.CompanyPhoneSecondShort">@Config.CompanyPhoneSecond</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="@Config.CompanyEmail">@Config.CompanyEmail</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Товары для вас</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    @foreach (PluralProductItemTypes type in Enum.GetValues(typeof(PluralProductItemTypes)))
                    {
                        <li><a class="text-decoration-none" asp-controller="Products" asp-action="Index" asp-route-currentproductItemTypeValues=@type>@Html.DisplayFor(x => type)</a></li>
                    }
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Дополнительная информация</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li><a class="text-decoration-none" asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="">Каталог</a>
                    <li><a class="text-decoration-none" asp-area="" asp-controller="About" asp-action="Index">О нас</a></li>
                    <li><a class="text-decoration-none" asp-area="" asp-controller="Contacts" asp-action="Index">Контакты</a></li>
                </ul>
            </div>
            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="@Config.CompanyVK"><i class="fab fa-vk fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="@Config.CompanyInstagram"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <div class="input-group mb-2">
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2021 - @Config.CompanyName
                        | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
