<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none">@Config.CompanyEmail</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:@Config.CompanyPhoneShort">@Config.CompanyPhone</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:@Config.CompanyPhoneSecondShort">@Config.CompanyPhoneSecond</a>
            </div>
            <div>
                <a class="text-light" href="@Config.CompanyVK" target="_blank" rel="sponsored"><i class="fab fa-vk fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="@Config.CompanyInstagram" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
            </div>
        </div>
    </div>
</nav>