@model IQueryable<ProductItem>

<div id="main">
    <div>
        <br />
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input style="width: 100%;" class=" btn btn-success" type="submit" value="Выйти" />
        </form>
    </div>
    <div>
        <br />
        <h3 class="h2 pb-4">Редактировать главну страницу сайта</h3>
        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" asp-area="Admin" asp-controller="IndexMain" asp-action="EditMainSliderContent">Редактировать главный слайдер</a>
        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" asp-area="Admin" asp-controller="IndexMain" asp-action="EditCategoriesOfTheMonth">Редактировать категории месяца</a>
        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" asp-area="Admin" asp-controller="IndexMain" asp-action="EditDisplayedProducts">Редактировать товары на главной</a>
    </div>
    <div>
        <br />
        <h3 class="h2 pb-4">Редактировать страницы сайта</h3>
        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" asp-area="Admin" asp-controller="PageTitles" asp-action="Edit" asp-route-codeWord="PageIndex">Главная</a>
        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" asp-area="Admin" asp-controller="PageTitles" asp-action="Edit" asp-route-codeWord="PageCatalog">Каталог</a>
        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" asp-area="Admin" asp-controller="PageTitles" asp-action="Edit" asp-route-codeWord="PageContacts">Контакты</a>
        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" asp-area="Admin" asp-controller="PageTitles" asp-action="Edit" asp-route-codeWord="PageAbout">О нас</a>
    </div>
    <div>
        <br />
        <h2 class="h2 pb-4">Наши продукты</h2>
        <div>
            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="">Добавить продукт</a>
            <br />
        </div>
        @if (Model.Any())
        {
            <div>
                @foreach (ProductItem entity in Model)
                {
                    <div style=" height: 4em; display: flex; align-items: center">
                        <a style="display:inline-block;" class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@entity.Id">Редактировать</a>
                        |
                        <form style="display:inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="Products" asp-action="Delete" method="post">
                            <input style="display:inline-block;" type="hidden" name="id" value="@entity.Id" />
                            <a style="display:inline-block;" class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#" onclick="document.getElementById('form-@entity.Id').submit();">Удалить</a>
                        </form>
                        |
                        <a style="display:inline-block; width: 100%" class=" btn btn-success" asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="@entity.Id">
                            @entity.Name - @entity.TotalPrice &#8381
                        </a>
                    </div>
                }
            </div>
        }
    </div>
</div>