@model IndexViewModel
@{ 
    bool existActiveContent = false;
    IList<MainSliderContent> mainSliderContents = Model.MainSliderContents.ToList();
    CategoriesOfTheMonth categoriesOfTheMonth = Model.CategoriesOfTheMonth;
    DisplayedProductsViewModel displayedProducts = Model.DisplayedProductsViewModel;
}

<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        @for (int i = 0; i < mainSliderContents.Count; i++)
        {
            @if (mainSliderContents[i].Image != null)
            {
                @if (existActiveContent)
                {
                    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="@i"></li>
                }
                else
                {
                    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="@i" class="active"></li>
                    { existActiveContent = true; }
                }
            }
        }
            @{existActiveContent = false;}
        </ol>
    <div class="carousel-inner">
        @for (int i = 0; i < mainSliderContents.Count; i++)
        {
            @if (mainSliderContents[i].Image != null)
            {
                @if (existActiveContent)
                {
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row p-5">
                                <div class="mx-auto col-md-8 col-lg-6 order-lg-last" style="margin-bottom: 15px;">
                                    <img class="img-fluid" src="@string.Format("data:image/{0};base64,{1}",mainSliderContents[i].Extension ,Convert.ToBase64String(mainSliderContents[i].Image))" alt="">
                                </div>
                                <div class="col-lg-6 mb-0 d-flex align-items-center">
                                    <div class="text-align-left">
                                        <h1 class="h1">@mainSliderContents[i].Title</h1>
                                        <h3 class="h2">@mainSliderContents[i].SubTitle</h3>
                                        <p>
                                            @Html.Raw(mainSliderContents[i].Description)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row p-5">
                                <div class="mx-auto col-md-8 col-lg-6 order-lg-last" style="margin-bottom: 15px;">
                                    <img class="img-fluid" src="@string.Format("data:image/{0};base64,{1}",mainSliderContents[i].Extension ,Convert.ToBase64String(mainSliderContents[i].Image))" alt="@mainSliderContents[i].Alt">
                                </div>
                                <div class="col-lg-6 mb-0 d-flex align-items-center">
                                    <div class="text-align-left">
                                        <h1 class="h1">@mainSliderContents[i].Title</h1>
                                        <h3 class="h2">@mainSliderContents[i].SubTitle</h3>
                                        <p>
                                            @Html.Raw(mainSliderContents[i].Description)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {existActiveContent = true;}
                }
            }
        }
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>

<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">@categoriesOfTheMonth.Title</h1>
            <p>
                @Html.Raw(categoriesOfTheMonth.Description)
            </p>
        </div>
    </div>
    <div class="row">
        @foreach (Category entity in categoriesOfTheMonth.Categories)
        {
            <div class="col-12 col-md-4 p-5 mt-3">
                @if (entity.Image != null)
                {
                    <a asp-area="" asp-controller="Products" asp-action="Index" asp-route-currentproductItemTypeValues="@entity.ProductItemType"><img src="@string.Format("data:image/{0};base64,{1}", entity.Extension, Convert.ToBase64String(entity.Image))" class="rounded-circle img-fluid border"></a>
                }
                else
                {
                    <a asp-area="" asp-controller="Products" asp-action="Index" asp-route-currentproductItemTypeValues="@entity.ProductItemType"><img src="~/images/DefaultImages/Soon600_800.png.png" class="rounded-circle img-fluid border"></a>
                }
                <h2 class="h5 text-center mt-3 mb-3">@Html.DisplayFor(x => entity.ProductItemType)</h2>
                <p class="text-center"><a class="btn btn-success"  asp-area="" asp-controller="Products" asp-action="Index" asp-route-currentproductItemTypeValues="@entity.ProductItemType">Вперёд!</a></p>
            </div>
        }        
    </div>
</section>

<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">@displayedProducts.DisplayedProducts.Title</h1>
                <p>
                    @Html.Raw(displayedProducts.DisplayedProducts.Description)
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (ProductItem product in displayedProducts.DisplayedProductItems)
            {
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="@product.Id">
                            @if (product.Images.FirstOrDefault() != default)
                            {
                                <img class="card-img-top" src="~/images/ProductItems/@product.Id/@product.Images.FirstOrDefault().Name" alt="@product.Images.FirstOrDefault().Alt" />
                            }
                            else
                            {
                                <img class="card-img-top" src="~/images/DefaultImages/Soon.png" alt="В процессе добавления." />
                            }
                        </a>
                        <div class="card-body" style="display: flex; flex-direction: column; height: 100%; ">
                            <div style="flex: 1 0 auto;">
                                <ul class="list-unstyled d-flex justify-content-between">
                                    @if (product.Discount == 0)
                                    {
                                        <li class="text-muted text-right">@product.TotalPrice&#8381;</li>
                                    }
                                    else
                                    {
                                        <li class="text-muted text-right">@product.TotalPrice&#8381;</li>
                                        <li class="text-muted text-right"> <strike> @product.Price&#8381; </strike>&nbsp;<font color="red">-@product.Discount%</font></li>
                                    }
                                </ul>
                                <a class="h2 text-decoration-none text-dark" asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="@product.Id">@product.Name</a>
                                <p class="card-text">
                                    @Html.Raw(product.Description)
                                </p>
                            </div>
                            </div>
                        </div>
                </div>
            }
        </div>
    </div>
</section>

