@model CatalogViewModel
@{
    Dictionary<double, bool> sizes = Model.ViewFilterProductItems.SizeValues;
    var paginateProductItems = Model.PaginateProductItems;

    Nullable<ushort> minValue = Model.ViewFilterProductItems.MinValue;
    Nullable<ushort> maxValue = Model.ViewFilterProductItems.MaxValue;

    if (minValue == 0) minValue = null;
    if (maxValue == 0) maxValue = null;

    var searchString = Model.ViewFilterProductItems.SearchString;

    double[] sizesArray = sizes.Where(s => s.Value).Select(s => s.Key).ToArray();

    var currentSizeValues = string.Join(",", sizesArray);
}

<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            <form asp-action="Index" method="get">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="searchString" placeholder="Поиск ..." />
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Сортировать
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li>
                                <a class="text-decoration-none" asp-action="Index" asp-route-currentFilter=@searchString asp-route-minValue=@minValue asp-route-maxValue=@maxValue asp-route-currentSizeValues=@currentSizeValues>Сначала новые</a>
                            </li>
                            <li>
                                <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="price_asc" asp-route-currentFilter=@searchString asp-route-minValue=@minValue asp-route-maxValue=@maxValue asp-route-currentSizeValues=@currentSizeValues>Сначала дешевле</a>
                            </li>
                            <li>
                                <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="price_desc" asp-route-currentFilter=@searchString asp-route-minValue=@minValue asp-route-maxValue=@maxValue asp-route-currentSizeValues=@currentSizeValues>Сначала дороже</a>
                            </li>
                            <li>
                                <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="discount_desc" asp-route-currentFilter=@searchString asp-route-minValue=@minValue asp-route-maxValue=@maxValue asp-route-currentSizeValues=@currentSizeValues>По размеру скидки</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Цена
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                            <li><input type="number" class="form-control" id="minValue" name="minValue" value=@minValue placeholder="0" /></li>
                            <li><input type="number" class="form-control" id="maxValue" name="maxValue" value=@maxValue placeholder="@(Model.MaxPrice)" /></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Размер
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            @if (sizes != null && sizes.Any())
                            {
                                @foreach (var size in sizes)
                                {
                                    @if (size.Value)
                                    {
                                        <li>
                                            <label>@size.Key</label>
                                            <input class="size" name="sizeValues" type="checkbox" value="@size.Key" checked="checked" />

                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <label>@size.Key</label>
                                            <input class="size" name="sizeValues" type="checkbox" value="@size.Key" />

                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </li>
                    <li class="pb-3">
                        <input  class="btn btn-success text-white mt-2" type="submit" value="Применить" />
                        <a class="btn btn-success text-white mt-2" asp-action="Index">Сбросить фильтр</a>
                    </li>
                </ul>      
        </form>
    </div>

        <div class="col-lg-9">            
            <div class="row">
                @if (paginateProductItems != null && paginateProductItems.Any())
                {
                    @foreach (ProductItem entity in paginateProductItems)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    @if (entity.Images.FirstOrDefault() != default)
                                    {
                                        <img src="~/images/ProductItems/@entity.Id/@entity.Images.FirstOrDefault().Name" alt="@entity.Images.FirstOrDefault().Alt" />
                                    }
                                    else
                                    {
                                        <img src="~/images/DefaultImages/Soon.png" alt="В процессе добавления." />
                                    }
                                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                        <ul class="list-unstyled">
                                            <li><a class="btn btn-success text-white mt-2" asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="@entity.Id"><i class="far fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a class="h3 text-decoration-none" asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="@entity.Id">@entity.Name</a>
                                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                        <li>
                                            @if (entity.Sizes != null && entity.Sizes.Any())
                                            {
                                                @for (int i = 0; i < entity.Sizes.Count; i++)
                                                {
                                                    if (i != 0)
                                                    {
                                                        <span>/</span>
                                                    }
                                                    <span>@entity.Sizes.ElementAt(i).SizeValue</span>;
                                                }
                                            }
                                            else
                                            {
                                                <span>Отсутствуют</span>
                                            }
                                        </li>
                                    </ul>
                                    @if (entity.Discount == 0)
                                    {
                                        <p class="text-center mb-0">
                                            @entity.Price&#8381;
                                        </p>
                                        <p class="text-center mb-0"><br></p>
                                    }
                                    else
                                    {
                                <p class="text-center mb-0">
                                    <strike> @entity.Price&#8381; </strike>&nbsp;<font color="red">-@entity.Discount%</font>
                                </p>
                                        <p class="text-center mb-0">
                                            @entity.TotalPrice&#8381;
                                        </p>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h2>Ничего не найдено:(</h2>
                }
            </div>            
                <div div="row">
                    <ul class="pagination pagination-lg justify-content-center">
                        @if (paginateProductItems.HasPreviousPage)
                        {
                            <li>

                                <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark"
                                   asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageIndex=@(paginateProductItems.PageIndex - 1)
                                   asp-route-currentFilter=@searchString
                                   asp-route-minValue=@minValue
                                   asp-route-maxValue=@maxValue
                                   asp-route-currentSizeValues=@currentSizeValues>
                                    Предыдущая
                                </a>

                            </li>
                            <li class="page-item disabled">
                                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">&#8195;&#8195;&#8195;&#8195;</a>
                            </li>
                        }
                        @if (paginateProductItems.PageIndex != 0 && paginateProductItems.PageIndex != 1)
                        {
                            <li>
                                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageIndex=0
                                   asp-route-currentFilter=@searchString
                                   asp-route-minValue=@minValue
                                   asp-route-maxValue=@maxValue
                                   asp-route-currentSizeValues=@currentSizeValues>1</a>
                            </li>
                            if (paginateProductItems.PageIndex > 2)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">.....</a>
                                </li>
                            }
                        }
                        @if (paginateProductItems.PageIndex != 0)
                        {
                            <li>
                                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageIndex=@(paginateProductItems.PageIndex-1)
                                   asp-route-currentFilter=@searchString
                                   asp-route-minValue=@minValue
                                   asp-route-maxValue=@maxValue
                                   asp-route-currentSizeValues=@currentSizeValues>
                                    @paginateProductItems.PageIndex
                                </a>
                            </li>



                        }
                        <li class="page-item disabled">
                            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#">@(paginateProductItems.PageIndex+1)</a>
                        </li>
                        @if (paginateProductItems.PageIndex != paginateProductItems.TotalPages - 1)
                        {
                            <li>
                                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageIndex=@(paginateProductItems.PageIndex+1)
                                   asp-route-currentFilter=@searchString
                                   asp-route-minValue=@minValue
                                   asp-route-maxValue=@maxValue
                                   asp-route-currentSizeValues=@currentSizeValues>@(paginateProductItems.PageIndex+2)</a>
                            </li>

                        }
                        @if (paginateProductItems.PageIndex != paginateProductItems.TotalPages - 1 && paginateProductItems.PageIndex != paginateProductItems.TotalPages - 2)
                        {
                            if (paginateProductItems.PageIndex < paginateProductItems.TotalPages-3)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">.....</a>
                                </li>
                            }
                            <li>
                                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageIndex=@(paginateProductItems.TotalPages - 1)
                                   asp-route-currentFilter=@searchString
                                   asp-route-minValue=@minValue
                                   asp-route-maxValue=@maxValue
                                   asp-route-currentSizeValues=@currentSizeValues>
                                    @paginateProductItems.TotalPages
                                </a>
                            </li>
                        }
                        @if (paginateProductItems.HasNextPage)
                        {

                            <li class="page-item disabled">
                                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">&#8195;&#8195;&#8195;&#8195;</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark"
                                   asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageIndex=@(paginateProductItems.PageIndex + 1)
                                   asp-route-currentFilter=@searchString
                                   asp-route-minValue=@minValue
                                   asp-route-maxValue=@maxValue
                                   asp-route-currentSizeValues=@currentSizeValues>
                                    Следующая
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

