@model CatalogViewModel
@{
    List<double> sizes = ViewData["SizeValues"] as List<double>;

}
<div>
    <a asp-action="Index" asp-route-currentFilter="@ViewData["CurrentFilter"]">Сначала новые</a>

    <a asp-action="Index" asp-route-sortOrder="price_asc" asp-route-currentFilter="@ViewData["CurrentFilter"]">Сначала дешевле</a>

    <a asp-action="Index" asp-route-sortOrder="price_desc" asp-route-currentFilter="@ViewData["CurrentFilter"]">Сначала дороже</a>

    <a asp-action="Index" asp-route-sortOrder="discount_desc" asp-route-currentFilter="@ViewData["CurrentFilter"]">По размеру скидки</a>
</div>

<form asp-action="Index" method="get">
    <div>
        <p>
            &#128270;<input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Поиск" />
                     <div>
                         Выбери ценовой диапозон: <input type="number" id="minValue" name="minValue" value="@ViewData["MinValue"]" placeholder="0" />
                         - <input type="number" id="maxValue" name="maxValue" value="@ViewData["MaxValue"]" placeholder="@(Model.MaxPrice)" />
                     </div>
            <div>
                @if (sizes.Any())
                {
                    @foreach (double size in sizes)
                    {
                        <div>
                            <label>@size</label>
                            <input class="size" name="sizeValues" type="checkbox" value="@size" />
                        </div>
                    }
                }
            </div>
                <input type="submit" value="Применить" /> |
            <a asp-action="Index">Сбросить</a>
        </p>
    </div>
</form>

@if (Model.PaginateProductItems.Any())
{
    <ul>
        @foreach (ProductItem entity in Model.PaginateProductItems)
        {
            <li>
                <a asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="@entity.Id">
                    @if (entity.Images.FirstOrDefault() != default)
                    {
                        <img src="~/images/ProductItems/@entity.Id/@entity.Images.FirstOrDefault().Name" alt="@entity.Images.FirstOrDefault().Alt" />
                    }
                    else
                    {
                        <img src="~/images/DefaultImages/Soon.png" alt="В процессе добавления." />
                    }
                </a>
                <h4>@entity.Name</h4>
                @if (entity.Discount == 0)
                {
                    <h5>@entity.Price</h5>
                }
                else
                {
                    <s>@entity.Price</s>
                    <h5>@entity.TotalPrice</h5>
                    <h6>Скидка @entity.Discount%</h6>
                }
            </li>
        }
    </ul>
}
else
{
    <h2>Ничего не найдено:(</h2>
}

@if (Model.PaginateProductItems.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageIndex=@(Model.PaginateProductItems.PageIndex - 1)
       asp-route-currentFilter="@ViewData["CurrentFilter"]">
        Предыдущая
    </a>
}

@if (Model.PaginateProductItems.HasNextPage)
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageIndex=@(Model.PaginateProductItems.PageIndex+1)
       asp-route-currentFilter="@ViewData["CurrentFilter"]">
        Следующая
    </a>
}
